rules_version = '2';

function isImageBelowMaxSize(maxSizeMB) {
  return request.resource.size < maxSizeMB * 1024 * 1024 
}

service firebase.storage {
  match /b/{bucket}/o {

  // Cascade read to any image type at any path
  // All images can be read.
  match /{allImages=**} {
    allow read;
  }

  // File should be less than 2MB
  // Allow images only.
  // Uploaded content type matches existing content type
  // Only images with metadata visibility set as public
  // Allow only authenticated content owners access
  match /users/{userId}/{fileName} {
    allow write: if 
    isImageBelowMaxSize(2) &&
    request.resource.contentType.matches('image/.*') &&
    request.resource.contentType == resource.contentType &&
    request.auth != null && 
    request.auth.uid == userId 
    }
  }
}
