rules_version = '2';

function isImageBelowMaxSize(maxSizeMB) {
  return request.resource.size < maxSizeMB * 1024 * 1024 
}

service firebase.storage {
  match /b/{bucket}/o {

  // Cascade read to any image type at any path
  // All images can be read.
  
  match /{allImages=**} {
    allow read;
  }

// Grants a user write access if the file is...
// less than 2MB.
// an image type only.
// the user is authenticated
// authenticated user matches their user ID.

  match /users/{userId}/{fileName} {
    allow write: if 
    isImageBelowMaxSize(2) &&
    request.resource.contentType.matches('image/.*') &&
    request.auth != null && 
    request.auth.uid == userId 
    }
  }
}
