@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Italic'), url('ProductSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Thin Regular'), url('ProductSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Regular'), url('ProductSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('ProductSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Thin Italic'), url('ProductSans-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Italic'), url('ProductSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Italic'), url('ProductSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold'), url('ProductSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold Italic'), url('ProductSans-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Italic'), url('ProductSans-BlackItalic.woff') format('woff');
}

h1:not(.ignore-font),
h2:not(.ignore-font),
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Product Sans Medium Regular', Arial, Helvetica, sans-serif !important;
  color: #adbac7 !important;
}

body {
  overflow-x: hidden !important;
  overflow-y: overlay !important;
  background: #22272e !important;
  font-family: 'Product Sans Medium Regular', Helvetica, Arial, sans-serif;
}

a {
  color: #316dca !important;
}

.v-list-item--link:before {
  /* background-color: currentColor; */
  background-color: transparent !important;
}

.v-application a {
  color: #ada0fa !important;
}

.link-color {
  color: #ada0fa !important;
}

.link-color-alt {
  color: #bee8e1 !important;
}

.v-application--is-ltr .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 16px !important;
}

.theme--dark.v-data-table {
  color: #adbac7 !important;
}

.v-main {
  color: #adbac7 !important;
}
.v-application--wrap {
  background: #22272e !important;
  height: 0vh !important;
}

.bgs {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 39%2c 46%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c378.813C72.829%2c379.98%2c140.216%2c351.807%2c206.011%2c320.56C280.302%2c285.279%2c373.065%2c260.783%2c406.629%2c185.701C440.186%2c110.634%2c396.785%2c25.129%2c373.305%2c-53.673C352.857%2c-122.298%2c316.509%2c-180.811%2c279.21%2c-241.937C234.139%2c-315.799%2c209.829%2c-411.627%2c131.916%2c-449.264C51.945%2c-487.895%2c-47.322%2c-474.137%2c-128.93%2c-439.095C-206.437%2c-405.814%2c-259.124%2c-334.584%2c-302.971%2c-262.526C-341.686%2c-198.902%2c-348.042%2c-125.063%2c-364.253%2c-52.372C-381.972%2c27.081%2c-435.502%2c109.401%2c-402.509%2c183.82C-369.521%2c258.228%2c-275.062%2c278.54%2c-201.812%2c314.026C-136.913%2c345.466%2c-72.104%2c377.658%2c0%2c378.813' fill='%231e2229'%3e%3c/path%3e%3cpath d='M1440 1227.508C1562.879 1235.4189999999999 1632.863 1086.566 1728.796 1009.375 1813.01 941.613 1921.505 898.6759999999999 1969.214 801.684 2017.441 703.639 2015.399 587.054 1988.637 481.118 1963.423 381.308 1884.978 310.195 1824.084 227.19 1757.106 135.892 1719.472 9.106999999999971 1613.363-30.41999999999996 1506.563-70.20500000000004 1385.351-24.682000000000016 1283.105 25.666000000000054 1190.934 71.053 1131.464 156.894 1068.342 237.957 1008.4449999999999 314.878 964.0160000000001 396.69399999999996 924.719 485.914 871.353 607.074 736.919 735.685 797.198 853.558 858.483 973.399 1057.805 905.9839999999999 1174.152 973.668 1282.248 1036.5529999999999 1315.201 1219.4740000000002 1440 1227.508' fill='%23262c34'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Removes the possibility of selecting text  */
.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Removes the possibility of dragging content  */

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.selectable {
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -o-user-select: text !important;
  user-select: text !important;
}

.vs-select__option {
  height: 30px !important;
  font-family: revert;
  font-size: 15px;
  color: #ccc;
}

.primary-font-color {
  color: rgb(var(--vs-primary));
}

html {
  background: #22272e !important;
  overflow: overlay !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important; /* Firefox */
}

/* Apply  scrollbar styles */
::-webkit-scrollbar {
  width: 9px !important;
  height: 9px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #383f43;
}
::-webkit-scrollbar-track {
  background: rgb(17, 27, 33) !important;
}

.vs-input__message {
  position: absolute;
  top: 43px !important;
}

.vs-tooltip {
  font-family: Arial, Helvetica, sans-serif !important;
  background: #212326 !important;
}

.vs-select__options__content__not-data {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #ccc;
}

[class*='vs-'] {
  color: #ccc !important;
}

.vs-input__progress {
  position: absolute;
  top: 43px;
}

.vs-input {
  border: 2px solid transparent;
  background: #191c20;
  color: #ccc;
}

.vs-input:focus {
  border: 2px solid transparent;
  background: #1e2227;
  color: #ccc;
  border-color: transparent;
  border-color: #5c77a5;
  outline: none;
  box-shadow: inset 0 0 0 20px transparent;
}

.vs-input__icon {
  background: rgb(24, 31, 38);
  margin-left: 3px;
  margin-right: 13px;
}

.vs-input:focus ~ .vs-input__icon {
  background: rgb(49, 56, 64);
}

.vs-select__chips {
  color: #ccc;
  box-shadow: unset !important;
  -webkit-transform: unset !important;
  transform: unset !important;
  -webkit-transition: unset !important;
  transition: unset !important;
}

.vs-select__chips:focus {
  box-shadow: unset !important;
  -webkit-transform: unset !important;
  transform: unset !important;
  -webkit-transition: unset !important;
  transition: unset !important;
}
.vs-select__chips:hover {
  transition: unset !important;
  background: #1b1e25 !important;
  box-shadow: unset !important;
  -webkit-transform: unset !important;
  transform: unset !important;
  -webkit-transition: unset !important;
}
.vs-select__chips:not(:hover) {
  background: #1b1e25 !important;
}

.vs-select--state-dark .vs-select__input {
  background: red !important;
  color: rgba(var(--vs-dark), 1);
}

.vs-select-content {
  max-width: unset;
  background: unset !important;
}

.vs-select__input:focus {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}

.vs-select.top.activeOptions .vs-select__input,
.vs-select.top.activeOptions .vs-select__chips {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}

.vs-select__option.activeOption {
  background: unset !important;
  color: #ccc !important;
  pointer-events: none;
}

.vs-select.activeOptions .vs-select__input {
  border-radius: 12px 12px 0px 0px;
  background: unset !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  -webkit-transform: unset !important;
  transform: unset !important;
  -webkit-transition: unset !important;
  transition: unset !important;
  border: 2px solid transparent;
  color: rgba(var(--vs-text), 1);
}

.vs-select__options:after {
  background: rgb(76, 71, 71) !important;
}

.vs-select__options__content::-webkit-scrollbar-thumb {
  background: #383f43 !important;
  border-radius: unset !important;
}

.vs-checkbox-mask:before {
  border: 2px solid rgb(97, 97, 97) !important;
}

.vs-select__option.isMultiple.isHover {
  background: #383f43 !important;
  width: 98%;
  height: 20px;
}

.vs-select__option.isMultiple {
  width: 98%;
}

.vs-select__chips__input {
  height: 28px;
}

.vs-navbar-content {
  z-index: 3 !important;
}

.vs-sidebar-content {
  z-index: 3 !important;
}

.v-navigation-drawer--absolute {
  z-index: 99 !important;
}

.v-navigation-drawer {
  overflow: visible !important;
}

h1 {
  font-size: 298% !important;
}

.v-tab {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  text-transform: unset !important;
}

.v-tab:before {
  background-color: unset !important;
}

/* disables list color change on click */
.disable-hover.v-list-item--link:before {
  background-color: unset !important;
}

.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active),
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon,
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn,
.theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
  color: #ccc !important;
}

.underlineHover:hover {
  text-decoration: underline;
}
