// Global border radius
$border-radius-root: 6px;
// $btn-font-weight: 700;
$btn-text-transform: none;
$btn-letter-spacing: normal;




// // Transitions
// $transition: (
// //  "fast-out-linear-in": cubic-bezier(0.4, 0, 1, 1),
// //  "fast-in-fast-out": cubic-bezier(0.25, 0.8, 0.25, 1),
//  "fast-out-slow-in": unset,
// //  "ease-in-out": cubic-bezier(0.4, 0, 0.6, 1),
// //  "swing": cubic-bezier(0.25, 0.8, 0.5, 1),
//  /* Sidebars */ "linear-out-slow-in": unset,
//  /* Component card flicker problem "fast-out-slow-in": cubic-bezier(0.69, 0.39, 0.51, 0.49) */
// );
